<div class="mx-auto md:w-2/3 w-full mt-14">
  <div class="flex flex-col gap-3 sm:flex-row justify-between">
    <h1 class="font-bold text-3xl">Edit Income</h1>
    <div>
      <%= link_to "Show Income", @income, class: "rounded-lg py-2 text-white px-2 bg-blue-700 inline-block text-sm" %>
      <%= link_to "Go Back", incomes_path, class: "ml-2 rounded-lg py-2 text-white px-2 bg-gray-800 inline-block text-sm" %>
    </div>
  </div>
  <hr class="my-5"/>

  <%= render "form", income: @income %>

  </div>
