<%= render 'layouts/header' %>


<div class="w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mt-14">


<%= render "layouts/stats" %>
<%= render "layouts/dashboard" %>

</div>